# IP-адрес виртуальной машины для мониторинга
VM_HOST=1.2.3.4
# Идентификатор инстанса в облаке
INSTANCE_ID=xxxxxxxxxxxxxxxx

# Интервал проверки состояния виртуальной машины (в секундах)
CHECK_INTERVAL=30
# Количество попыток отправки ping-пакетов для проверки доступности
PING_ATTEMPTS=5
# Время ожидания ответа на ping (в секундах) для каждого пакета
PING_TIMEOUT=1